{% extends 'base.html' %}
{% block content %}
<h2 style="color: white;"><b>{{movie.title}}</b></h2>
<div class="row">
    <div class="col">
        <a class="btn btn-outline-primary btn-sm" href="/movies/watched/{{movie.id}}">Mark as Watched</a>
        <a class="btn btn-outline-warning btn-sm" href="/movies/favorites/{{movie.id}}">Favorite</a>
    </div>
</div>
<div class="">
    <div class="row no-gutters">
        <div class="col-sm-auto no-gutters">
            <img src="{{movie.poster}}" alt="">
        </div>
        <div class="col" style="color: white;">
            <h5><b>Plot Details: </b>{{movie.plot}}</h5>
            <div>
                <p><b>Release Date: </b>{{movie.release_date}}</p>
                {% if movie.runtime == '-1' %}
                <p><b>Runtime: </b>'N/A'</p>
                {% else %}
                <p><b>Runtime: </b>{{movie.runtime}} min</p>
                {% endif %}
                <p>Genres: 
                    {% for genre in movie.genres %}
                    <a href="/movies/genre/{{genre.genre_id}}">{{genre.name}}</a>
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>




{% endblock %}